@import url("./css/aside.css");
@import url("./css/settings.css");

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}
html,
body,
.view {
  height: 100vh;
  width: 100%;
  padding: 0;
  background-color: #2f363d;
}
.grid {
  display: grid;
  grid-template-columns: 49.8% 0.4% 49.8%;
  grid-template-rows: 49.6% 0.8% 49.6%;
}
.vertical-gutter {
  grid-area: 1 / 2 / 4 / 2;
  background-color: #2f363d88;
}
.horizontal-gutter {
  grid-area: 2 / 1 / 2 / 4;
  background-color: #2f363d88;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #fff;
}

#js::after {
  background-image: url("./assets/javascript.svg");
}
#html::after {
  background-image: url("./assets/html5.svg");
}
#css::after {
  background-image: url("./assets/css3.svg");
}

.editor {
  position: relative;
}
.editor::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 64px;
  height: 64px;
  z-index: 1;
}
